<div class="p-3" id="main-container">
  <div class="card">
    <div class="card-body">
      <div class="input-group col-auto">
        <input [(ngModel)] = "keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="searchCustomer(keyword)" class="btn btn-outline-success" type="submit">Search</button>
      </div>
      <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Adress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer?.id}}</td>
            <td>{{customer?.firstName}}</td>
            <td>{{customer?.lastName}}</td>
            <td>{{customer?.email}}</td>
            <td>
              <button class="btn btn-secondary" [routerLink]="['/updateCustomer', customer?.id]" >
                <i class="bi bi-pen"></i>
              </button>
            </td>
            <td>
              <a (click)="onOpenModal(customer, 'delete')" class="btn btn-danger tooltips">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete customer  <b>{{customer?.firstName}} {{customer?.lastName}}</b></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="deleteCustomer(customer.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
