<div class="p-3" id="main-container">
  <div class="card">
    <div class="card-body">
      <div class="input-group col-auto">
        <input [(ngModel)] = "keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="searchCustomer(keyword)" class="btn btn-outline-success" type="submit">Search</button>
      </div>
      <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Adress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer?.id}}</td>
            <td>{{customer?.firstName}}</td>
            <td>{{customer?.lastName}}</td>
            <td>{{customer?.email}}</td>
            <td>
              <button (click)="onOpenModal(customer, 'update')" class="btn btn-secondary">
                <i class="bi bi-pen"></i>
              </button>
            </td>
            <td>
              <a (click)="onOpenModal(customer, 'delete')" class="btn btn-danger tooltips">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete customer  <b>{{customer?.firstName}} {{customer?.lastName}}</b></p>
        <div class="modal-footer">
          <button id="delete-customer-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="deleteCustomer(customer.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addCustomerForm = "ngForm" (ngSubmit)="addCustomer(addCustomerForm)" >
          <div class="mb-3">
            <label class="form-label">First Name</label>
              <input class="form-control" type="text" ngModel name="firstName">
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" ngModel name="lastName">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" ngModel name="email">
          </div>
          <button id="add-customer-form" type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal">Close</button>
          <button [disabled]="addCustomerForm.invalid" type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateCustomerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Update Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateCustomerForm = "ngForm" (ngSubmit)="updateCustomer(updateCustomerForm)" >
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input class="form-control" type="hidden" ngModel="{{customer?.id}}" name="id">
            <input class="form-control" type="text" ngModel="{{customer?.firstName}}" name="firstName">
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" ngModel="{{customer?.lastName}}" name="lastName">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" ngModel="{{customer?.email}}" name="email">
          </div>
          <button id="update-customer-form" type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal">Close</button>
          <button [disabled]="addCustomerForm.invalid" type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
