<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="input-group col-auto">
        <input [(ngModel)] = "keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="searchCustomer(keyword)" class="btn btn-outline-success" type="submit">Search</button>
      </div>
      <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Adress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>
              <button class="btn btn-secondary" [routerLink]="['/updateCustomer', customer.id]" >
                <i class="bi bi-pen"></i>
              </button>
            </td>
            <td>
              <button (click)="onOpenModal(customer, 'delete')" class="btn btn-danger" data-bs-toggle="modal">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are about to delete Customer {{customer.firstName}} {{customer.lastName}}</h5>
        <button (click)="deleteCustomer(customer.id)" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

