<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup] = "customerForm" (ngSubmit)="updateCustomer(customerId)" >
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input class="form-control" type="email" formControlName = "email">
            </div>
            <button [disabled]="customerForm.invalid" class="btn btn-outline-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

