<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="input-group col-auto">
        <input [(ngModel)] = "keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="searchAccount(keyword)" class="btn btn-outline-success" type="submit">Search</button>
      </div>
      <table class="table" *ngIf="accounts">
        <thead>
          <tr>
            <th>Id</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Opening Date</th>
            <th>Account Type</th>
            <th>Customer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts">
            <td>{{account.id}}</td>
            <td>{{account.balance}}</td>
            <td>{{account.currency}}</td>
            <td>{{account.openingDate}}</td>
            <td>{{account.accountType}}</td>
            <td>{{account.customer.firstName}} {{account.customer.lastName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Transfer Modal -->
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transfer Amount</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #transferForm = "ngForm" (ngSubmit)="transfer(transferForm)">
          <div class="mb-3">
            <label class="form-label">From</label>
            <select class="form-control" [ngModel]="fromAccount" name="fromAccount">
              <option *ngFor="let account of accounts" [value]="account.id">
                {{account?.customer?.firstName}} {{account?.customer?.lastName}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">To</label>
            <select class="form-control" [ngModel]="toAccount" name="toAccount">
              <option *ngFor="let account of accounts" [value]="account.id">
                {{account?.customer?.firstName}} {{account?.customer?.lastName}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Amount</label>
            <input class="form-control" type="number" [(ngModel)]="amount" name="amount" required>
          </div>
          <button id="transfer-form" type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal">Close</button>
          <button [disabled]="transferForm.invalid" type="submit" class="btn btn-primary">Validate</button>
        </form>
      </div>
    </div>
  </div>
</div>
