<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup] = "accountForm" (ngSubmit)="addAccount()" >
            <div class="mb-3">
              <label class="form-label">Balance</label>
              <input class="form-control" type="number" formControlName = "balance">
            </div>
            <div class="mb-3">
              <label class="form-label">Currency</label>
              <select class="form-select" formControlName = "currency" >
                <option value="MAD">MAD</option>
                <option value="EUR">EUR</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Account Type</label>
              <select class="form-select" formControlName = "accountType" >
                <option value="CURRENT_ACCOUNT">CURRENT_ACCOUNT</option>
                <option value="SAVING_ACCOUNT">SAVING_ACCOUNT</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Customer</label>
              <select formControlName = "customer" class="form-select">
                <option *ngFor="let customer of customers" [value]="customer.id" >
                  {{customer.firstName}} {{customer.lastName}}
                </option>
              </select>
            </div>
            <button [disabled]="accountForm.invalid" class="btn btn-outline-success">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
